@import '../variables';

main {
  background-color: $colorMain;
  margin-left: $marginMain;
  margin-right: $marginMain;
  display: flex;
  flex-direction: row;
  justify-content: center;

  table {
    width: $widthTable;
    margin-top: $marginTable;
    margin-bottom: $marginTable;
    border: $borderTable;

    tr {
      text-align: center;
      text-transform: capitalize;
      font-size: 1em;
      flex-direction: row;

      .baya-id {
        width: 8%;
      }

      .baya-name {
        width: 20%;
      }

      .baya-efecto {
        width: 64%;
        padding: 1%;
      }

      .baya-img {
        width: 8%;
      }
    }

    tr, td, th {
      border: $borderTable;
    }
  }
}
