<header>
  <p>hola mundo</p>
  <nav>
    <ul>
      <li class="menu menu-bayas" #barraBayas (mouseenter)="desplegarBayas(subBarraBayas)" (click)="contraerBayas(subBarraBayas)">
        <a >Bayas</a>
      </li>
      <ul class="submenu-bayas" #subBarraBayas>
        <li> <a routerLink="/bayas">Bayas</a></li>
      </ul>

      <li class="menu menu-concursos" #barraConcursos (mouseenter)="desplegarConcursos(subBarraConcursos)" (click)="contraerConcursos(subBarraConcursos)">
        <a>Concursos</a>
      </li>
      <ul class="submenu-concursos" #subBarraConcursos>
        <li><a routerLink="/concursos">Tipos de concursos</a></li>
      </ul>
      <li class="menu menu-encuentros" #barraEncuentros (mouseenter)="desplegarEncuentros(subBarraEncuentros)" (click)="contraerEncuentros(subBarraEncuentros)">
        <a>Encuentros</a>
      </li>
      <ul class="submenu-encuentros" #subBarraEncuentros>
        <li><a routerLink="/encuentros">Métodos de encuentros</a></li>
      </ul>
      <li class="menu menu-evolucion">
        <a href="">Evolución</a>
      </li>
      <ul class="submenu-evoluciones">
        <li><a href="#">Cadenas evolutivas</a></li>
        <li><a href="#">Dsencadenante de evolución</a></li>
      </ul>
      <li class="menu menu-juego">
        <a href="">Juegos</a>
      </li>
      <ul class="submenu-juego">
        <li><a href="#">Generaciones</a></li>
        <li><a href="#">Pokedexes</a></li>
        <li><a href="#">Versiones</a></li>
        <li><a href="#">Versiones de grupo</a></li>
      </ul>
      <li class="menu menu-item">
        <a href="">Objetos</a>
      </li>
      <ul class="submenu-items">
        <li><a href="#">Objetos</a></li>
        <li><a href="#">Atributos de los objetos</a></li>
        <li><a href="#">Categorías de los objetos</a></li>
        <li><a href="#">Efectos de lanzanmiento de los objetos</a></li>
        <li><a href="#">Objetos de bolsillo</a></li>
      </ul>
      <li class="menu menu-locacion">
        <a href="">Locaciones</a>
      </li>
      <ul class="submenu-locaciones">
        <li><a href="#">Locaciones</a></li>
        <li><a href="#">Áreas de las locaciones</a></li>
        <li><a href="#">Áreas de parques compi</a></li>
        <li><a href="#">Regiones</a></li>
      </ul>
      <li class="menu menu-maquina">
        <a href="#">Máquinas (MT´s y MO´s)</a>
      </li>
      <ul class="submenu-maquina">
        <li><a href="#">Máquinas</a></li>
      </ul>
      <li class="menu menu-movimiento">
        <a href="">Movimientos</a>
      </li>
      <ul class="submenu-movimientos">
        <li><a href="#">Movimientos</a></li>
        <li><a href="#">Fectos de los movimientos</a></li>
        <li><a href="#">Estilos de batalla de los movimientos</a></li>
        <li><a href="#">Categorias de los movimientos</a></li>
        <li><a href="#">Clases de daño de los movimientos</a></li>
        <li><a href="#">Métodos de aprendizaje de los movimientos</a></li>
        <li><a href="#">Objetivos de los movimientos</a></li>
      </ul>

      <li class="menu menu-pokemon">
        <a href="">Pokemon</a>
      </li>
      <ul class="submenu-pokemon">
        <li><a href="#">Habilidades</a></li>
        <li><a href="#">Características</a></li>
        <li><a href="#">Grupos huevo</a></li>
        <li><a href="#">Géneros</a></li>
        <li><a href="#">Radios de crecimiento</a></li>
        <li><a href="#">Naturalezas</a></li>
        <li><a href="#">Stats de PokeAtlhon</a></li>
        <li><a href="#">Pokemon</a></li>
        <li><a href="#">Áreas de locación de Pokemon</a></li>
        <li><a href="#">Color de Pokemon</a></li>
        <li><a href="#">Formas Pokemon</a></li>
        <li><a href="#">Hábitats Pokemon</a></li>
        <li><a href="#">Composición Pokemon</a></li>
        <li><a href="#">Especies Pokemon</a></li>
        <li><a href="#">Estadísticas</a></li>
        <li><a href="#">Tipos</a></li>
      </ul>
    </ul>

  </nav>
</header>
