@import '../variables';

main {
  background-color: $colorMain;
  display: flex;
  margin-left: $marginMain;
  margin-right: $marginMain;
  flex-direction: row;
  justify-content: center;

  table {
    width: $widthTable;
    margin-top: $marginTable;
    margin-bottom: $marginTable;
    border: $borderTable;

    tr {
      text-align: center;
      text-transform: capitalize;
      font-size: 1em;
      flex-direction: row;

      .contest-id {
        width: 25%;
      }

      .contest-name {
        width: 25%;
      }

      .contest-baya {
        width: 25%;
      }

      .contest-color {
        width: 25%;
      }
    }

    tr, td, th {
      border: _$borderTable;
      padding: 1em;
    }
  }
}
