@import '../variables';

main {
  background-color: $colorMain;
  margin-left: $marginMain;
  margin-right: $marginMain;
  display: flex;
  flex-direction: row;
  justify-content: center;

  table {
    width: $widthTable;
    margin-top: $marginTable;
    margin-bottom: $marginTable;
    border: $borderTable;

    tr {
      text-align: center;
      text-transform: capitalize;
      font-size: 1em;
      flex-direction: row;

      .gen-id {
        width: 20%;
      }

      .gen-name {
        width: 40%;
      }

      .gen-region {
        width: 40%;
      }

      tr, td, th {
        border: $borderTable;
        padding: 0.8em;
      }
    }
  }
}
