<app-barra-titulo></app-barra-titulo>
<br>
<br>
<br>
<br>
<br>
<!--
    <app-pokemon-component></app-pokemon-component>
<app-bayas></app-bayas>

<app-contest></app-contest>
<app-encuentros></app-encuentros>
<app-evoluciones></app-evoluciones>
<app-generaciones></app-generaciones>
<app-pokedexes></app-pokedexes>
<app-version-groups></app-version-groups>
<app-items></app-items>
<app-item-categories></app-item-categories>
<app-item-effects></app-item-effects>
<app-pockets></app-pockets>
<app-locations></app-locations>
<app-location-areas></app-location-areas>
<app-parque-compi></app-parque-compi>
<app-region></app-region>
<app-machine></app-machine>
<app-moves></app-moves>
<app-move-ailment></app-move-ailment>
<app-battle-style></app-battle-style>
<app-move-category></app-move-category>
<app-move-damage-class></app-move-damage-class>
<app-move-learn-methods></app-move-learn-methods>
<app-move-target></app-move-target>
<app-abilities></app-abilities>

-->

<app-egg-groups></app-egg-groups>

