@import '../variables';

main
 {
  background-color: $colorMain;
  margin-left: $marginMain;
  margin-right: $marginMain;
  display: flex;
  flex-direction: row;
  justify-content: center;

  table {
    width: $widthTable;
    margin-top: $marginTable;
    margin-bottom: $marginTable;
    border: $borderTable;

    tr {
      text-align: center;
      text-transform: capitalize;
      font-size: 2em;
      flex-direction: row;

      .method-id {
        width: 50%;
      }

      .method-name {
        width: 50%;
      }
    }

    tr, td, th {
      border: $borderTable;
    }
  }
 }
